.container {
  display: flex;
  flex-direction: row;
  background-color: black;
  font-family: sans-serif;
  justify-content: end;
}
.nav1,
.nav2,
.nav3,
.nav4,
.nav5 {
  color: azure;
  margin-left: 20px;
  margin-right: 20px;
}
